* {
    padding: 0;
    margin: 0;
  }
  
  html, body{
    height: 100%;
    background-color: rgb(188, 243, 192); 
  }
  .header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;    
    height: 120px;    
    margin-bottom: 3px;
    background-color:rgb(48, 139, 48);
    display: flex;
    padding: 10px;
  }
  
  .wrapper__logo {
    width: 300px;
    height: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(229, 231, 229);
  }
  .wrapper__logo a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 80px;
    font-variant: small-caps;
    color:  rgb(238, 238, 238); 
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
  }
  
  .auth_buttons{
    margin-top: 20px;
    margin-right: 20px;
  }
  
 .auth_buttons button{
  padding: 10px;
  text-decoration: none;
  color: #fff;
  width:120px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: #39742e;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
   }
   .container {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    width: 100%;
    margin-top: 50px;
    height: 180px;
    padding: 10px;
  
  }
  

  
  .wrapper {
    flex: 1;
  }
  
  .wrapper__output {
    display: inline-flex;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:rgb(25, 110, 29);
    font-size: 20px;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    /* border: solid 1px black; */
  }
  

  .article__title{
    display: flex;
    justify-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:rgb(25, 110, 29);
  }

  @media (max-width: 666px){
    .wrapper__logo a{
      font-size: 55px;
      display: flex;
      align-items: center;
    }
    .header{
      width: 100%;
    }
    .wrapper__output{
      width: 50%;
    }
  }

  @media (max-width: 457px){
    .wrapper__logo a{
      font-size: 35px;
      display: flex;
      align-items: center;
    }
    .header{
      width: 100%;
    }
    .wrapper__output{
      width: 50%;
    }
  }
  